.navbar {
    background-color: black !important;
  }
  
  .nav-link {
    color: white !important;
    font-size: 1rem; /* Adjust font size if necessary */
    margin-right: 20px;
  }
  
  .navbar-brand img {
    height: 50px;
  }
  
  .nav-link:hover {
    color: #f0f0f0 !important; /* Slight hover effect */
  }
  
  .nav-item .fab {
    font-size: 1.2rem;
    color: white;
    margin-left: 15px;
  }
  
  .nav-item .fab:hover {
    color: #007bff; /* Icon hover effect */
  }
  